<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>VueApp</title>
    <!-- Vue.js 遅延読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <!-- 独自JS 遅延読み込み -->
    <script src="./main.js" defer></script>
</head>
<body>
    <div id="app">
        {{msg}}
    </div>
    <div id="app2">
        <span v-bind:title="msg">
            hogehoge
        </span>
    </div>
    <div id="app3">
        <span v-if="seen">
            hello
        </span>
    </div>
    <div id="app4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
    </div>
    <div id="app5">
        <p>{{msg}}</p>
        <button v-on:click="reverse">Reverse</button>
    </div>
    <div id="app6">
        <p>{{msg}}</p>
        <input v-model="msg">
    </div>
    <div id="app7">
        <ol>
          <!-- 
            各 todo-item の内容を表す todo オブジェクトを与えます。
            これにより内容は動的に変化します。
            また後述する "key" を各コンポーネントに提供する必要があります。
          -->
          <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
      </div>
</body>
</html>